body{
    margin: 0px;
    padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-weight: 500;
}
a{
    text-decoration: none !important;
    color: white !important;
}